// body {
//   min-height: 100vh;
//   display: grid;
//   align-items: center;
// }

@font-face {
  font-family: pmPopjoy;
  src: url("../fonts/pm-popjoy.otf");
}

@font-face {
  font-family: marioSolidV3;
  src: url("../fonts/mariosolidv3.woff");
}

.species-separator {
  height: 2px;
  padding: 0;
  margin: 2rem 0;
  background-color: $grey-dk-300;
  border: 0;
}

.specie-callout h2 {
  margin-top: 0 !important;
}

.subspecie-callout h2 {
  margin-top: 0 !important;
}

.content-callout h2 {
  margin-top: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: marioSolidV3;
}

.header-font {
  font-family: marioSolidV3;
}

.underlined {
  text-decoration: underline;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.icon-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.icon-left img {
  width: 40px;
  height: 100%;
}

.item-left {
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  gap: 10px;
}

.item-left img {
  width: 60px;
  height: 100%;
  vertical-align: text-top;
}

.inline-icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

.inline-icon img {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}

img.inline-icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}


.icon-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

blockquote.item-callout {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: .8em !important;
  padding-right: .8em !important;
}

blockquote.item-inner-callout {
  width: 100% !important;
  padding-top: .2em !important;
  padding-bottom: .2em !important;
  padding-left: .8em !important;
  padding-right: .8em !important;
}

.mgl {
  margin-left: 2em;
  display: inline-block;
}

.mgl-big {
  margin-left: 4em;
  display: inline-block;
}

@media screen and (min-width: 480px) {
  .float-right-desktop {
    float: right;
  }
}

.center-img img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .float-right-desktop img {
    // Centers the image instead
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 480px) {
  .icon-right img {
    display: none;
  }
}

// $pink-000: #f77ef1;
// $pink-100: #f967f1;
// $pink-200: #e94ee1;
// $pink-300: #dd2cd4;

.alt-grey-line {
  color: $grey-dk-100;
}

.inverted-color {
  color: $body-inverted-color;
}

.example-callout,
.example-callout-titlle {
  color: $brown-300;
}

.heart-color {
  color: $heart-color;
}

.courage-color {
  color: $courage-color;
}

.spirit-color {
  color: $spirit-color;
}

.positive-color {
  color: $positive-color;
}

.negative-color {
  color: $negative-color;
}

.nice-color {
  color: $nice-color;
}

.good-color {
  color: $spirit-color;
}

.great-color {
  color: $courage-color;
}

.wonderful-color {
  color: $heart-color;
}

.excellent-color {
  color: $excellent-color;
}

.unbelievable-color {
  color: $unbelievable-color;
}

.float-right {
  float: right;
}

// // Clearfix for float-icon
// .float-icon::after {
//   content: "";
//   clear: both;
//   display: table;
// }

div {
  font-family: pmPopjoy;
}

em {
  // Remove italic style
  font-style: normal;
}

em strong {
  // Remove bold style within italic
  font-weight: normal;
}

a.nav-list-link {
  color: #000;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

body {
  background-image: url("../images/background/pm-textbox-light.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
  color: $grey-dk-300;
}

div.side-bar {
  background-image: url("../images/background/pm-textbox.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-attachment: fixed;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.container_floating_right {

  float: right;
  width: 40%;
  margin: 4px 4px 4px 4px;
  overflow: auto;

  &>div.image_legend_container {
    border: 2px solid #ebebeb;
    padding: 0px;
    display: flex;
    flex-direction: column;

    &>img {
      max-width: 100%;
      object-fit: contain;
    }

    &>p {
      text-align: center;
      margin: 4px;
    }
  }
}

div.container_floating_left {

  float: left;
  width: 40%;
  margin: 4px 4px 4px 4px;
  overflow: auto;

  &>div.image_legend_container {
    border: 2px solid #ebebeb;
    padding: 0px;
    display: flex;
    flex-direction: column;

    &>img {
      max-width: 100%;
      object-fit: contain;
    }

    &>p {
      text-align: center;
      margin: 4px;
    }
  }
}

div.container_floating_center {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 4px;
  margin-bottom: 4px;
  overflow: auto;

  &>div.image_legend_container {
    padding: 0px;
    display: flex;
    flex-direction: column;

    &>img {
      max-width: 100%;
      object-fit: contain;
    }

    &>p {
      text-align: center;
      margin: 4px;
    }
  }
}

img.droplet-border {
  border-radius: 0 50% 50% 50%;
  max-width: unset;
}

div.contributor-footer {

  display: flex;
  padding: 8px 8px 8px;
  flex-direction: row;

  &>div.c-f-image {
    flex: 0 1 auto;
    align-self: flex-start;
    padding-right: 8px;
  }

  &>div.c-f-infos {

    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &>div.c-f-i-name {
      font-size: 1.3em;
      font-weight: 700;
      flex: 0 1 auto;
    }

    &>div.c-f-i-bio {
      font-size: 0.8em;
      flex: 1 1 auto;
    }
  }
}

form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &>div {
    flex: 1 1 5ch;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
    display: flex;
    flex-direction: column;

    &.large-input {
      flex-basis: 15ch;
    }

    &.small-input {
      min-width: 10ch;
    }

    &.flex-shrink-0 {
      flex-shrink: 0;
    }

    &.flex-grow-2 {
      flex-grow: 2;
    }

    &.flex-grow-3 {
      flex-grow: 3;
    }

    &.traits>div {
      flex: 1 1 5ch;
      // margin-left: .5rem;
      // margin-right: .5rem;
      margin-top: .2rem;
      margin-bottom: .2rem;
      display: flex;
      flex-direction: column;
    }

    &>div.traits-title {
      &>span {
        font-size: 1.4em;
        text-align: center;
        margin-bottom: -0.2rem;
      }
    }
  }
}

textarea {
  resize: none;
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;
}

input {
  border: none;
  background: hsl(0, 0%, 93%);
  border-radius: .25rem;
  padding: .75rem 1rem;

  &[type="submit"] {
    background: hotpink;
    color: white;
    box-shadow: 0 .75rem .5rem -.5rem hsl(0, 50%, 80%);
  }
}

.downwards-margin {
  margin-bottom: 3ch;
}

.error-info-bold {
  font-weight: 700;
}

/*
** Classic RtW-Table
*/

.table-wrapper {
  border-radius: 0;
  box-shadow: none;
}

.half-width {
  width: 50%;
  min-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.width-70 {
  width: 70%;
  min-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

table.fixed-columns {
  table-layout: fixed;
  //    width: 100%;
}

table.fixed-columns-100 {
  table-layout: fixed;
  width: 100%;
}

table.small-rank-columns {
  table-layout: fixed;
  width: 100%;
}

table.small-rank-columns tr th,
table.small-rank-columns tr td {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

table.small-rank-columns tr th:nth-child(7),
table.small-rank-columns tr td:nth-child(7) {
  width: 40%;
  min-width: 40%;
  max-width: 40%;
}

table.first-small-column {
  table-layout: fixed;
  width: 100%;
}

table.first-small-column tr th:first-child,
table.first-small-column tr td:first-child {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

table.second-small-column {
  table-layout: fixed;
  width: 100%;
}

table.second-small-column tr th:nth-child(2),
table.first-small-column tr td:nth-child(2) {
  width: 10%;
  min-width: 10%;
  max-width: 10%;
}

.centered {
  text-align: center;
}

table.centered-bold {
  text-align: center;
  font-weight: bold;
}

table.centered-first-column tr td {
  text-align: center;
  font-weight: bold;
}

table.centered-first-column tr td:first-child {
  text-align: center;
  font-weight: bold;
}

table.centered-second-column tr td:nth-child(2) {
  text-align: center;
  font-weight: bold;
}

table.centered-third-column tr td:nth-child(3) {
  text-align: center;
  font-weight: bold;
}

table.rtw-table {
  border: 1px solid #538135;
  background-color: #E2EFD9;
  border-collapse: collapse;
}

table.rtw-table td,
table.rtw-table th {
  border: 1px solid #AAAAAA;
  background-color: unset !important;
  padding: 3px 2px;
}

table.rtw-table tr:nth-child(even) {
  background: #C5E0B3;
}

table.rtw-table thead {
  background: #538135;
}

table.rtw-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

table.rtw-table td,
table.rtw-table th {
  border: 1px solid #AAAAAA;
  background-color: unset !important;
  padding: 3px 2px;
}

table.rtw-table tr:nth-child(even) {
  background: #C5E0B3;
}

table.rtw-table thead {
  background: #538135;
}

table.rtw-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

table.rtw-table-double-entry tr td:first-child {
  background: #538135 !important;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

table.last-line-head tr:last-child {
  background: #538135;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

/*
** RtW Creature Table
*/

.small-numbers-table {

  th,
  td {
    min-width: 30px;
  }
}

.creature-table {
  table {
    border-collapse: collapse !important;
    border: 1px solid #538135 !important;
    min-width: 50% !important;
    max-width: 50% !important;

    @include mq(sm) {
      max-width: 100% !important;
    }
  }

  th,
  td {
    min-width: 30px;
    padding-top: 0;
    padding-right: $sp-3;
    padding-bottom: 0;
    padding-left: $sp-3;
    //        border-bottom: $border #538135;
    //        border-left: $border #538135;
    //        border-right: $border #538135;

    &:first-of-type {
      //            border-left: $border #538135;
    }
  }

  tbody {
    tr {
      &:last-of-type {

        th,
        td {
          //              border-bottom: $border #538135;
        }

        td {
          padding-bottom: 0;
        }
      }
    }
  }

  thead {
    th {
      border-bottom: $border #538135;
    }
  }
}

.creature-title-bg {
  background-color: #538135;
}

.creature-content-bg-light {
  background-color: #E2EFD9;
}

.creature-content-bg-dark {
  background-color: #C5E0B3;
}

/*
*************
** INFO BOX *
*************
*/

.info-box {
  border: 2px solid #000;
  padding: 20px;
  border-radius: 3px;
  background-color: #C5E0B4;
  border-color: #548235;
}

/*
*****************
** LABEL COLORS *
*****************
*/

.wip {
  background-color: $red-200;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-moz-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-o-keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

/*
** ITEMS STUFF
*/

.item {
  background-color: $grey-dk-200 !important;
  margin-left: 0 !important;
}

.curative {
  background-color: $curative-color !important;
  margin-left: 0 !important;
}

.attack {
  background-color: $attack-color !important;
  margin-left: 0 !important;
}

.booster {
  background-color: $booster-color !important;
  margin-left: 0 !important;
}

.hazard {
  background-color: $hazard-color !important;
  margin-left: 0 !important;
}

.quirk {
  background-color: $quirk-color !important;
  margin-left: 0 !important;
}

.power-up {
  background-color: $power-up-color !important;
  margin-left: 0 !important;
}

.gear {
  background-color: $gear-color !important;
  margin-left: 0 !important;
}

.super-gear {
  background-color: $super-color !important;
  margin-left: 0 !important;
}

.ultra-gear {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.max-gear {
  color: $grey-dk-200;
  background: -webkit-linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
  background: linear-gradient(top, #8f6B29, #FDE08D, #DF9F28);
}

.unique-gear {
  color: $grey-dk-200;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;
}

.stats-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.skills-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.attack-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.defense-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.technique-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.boon-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}

.negative-badge {
  background-color: $ultra-color !important;
  margin-left: 0 !important;
}