$brown-000: #CFBDA9;
$brown-100: #AC9A86;
$brown-200: #64503E;
$brown-300: #4F3C29;

$alt-blue-000: #7FC9FF;
$alt-blue-100: #0094FF;
$alt-blue-200: #0069B5;
$alt-blue-300: #00137F;

$beige-000: #F4F2CC;
$beige-100: #E8E6B8;
$beige-200: #D1CE8F;
$beige-300: #B9B66B;

$alt-grey-000: #D9D9D9;
$alt-grey-100: #BFBFBF;
$alt-grey-200: #A6A6A6;
$alt-grey-300: #8C8C8C;

$alt-green-000: #BEEAD6;
$alt-green-100: #8ED5B1;
$alt-green-200: #5EBF8C;
$alt-green-300: #2EAA67;

$alt-red-000: #FFDADA;
$alt-red-100: #FFAFAF;
$alt-red-200: #FF7F7F;
$alt-red-300: #FF4F4F;

$black-000: #262626;
$black-100: #1A1A1A;
$black-200: #0D0D0D;
$black-300: #000000;

$body-inverted-color: $grey-lt-100;

$curative-color: #e45050;
$attack-color: #a94ae0;
$booster-color: #20af44;
$hazard-color: #a84f06;
$quirk-color: #5e5e5e;

$power-up-color: #4d4fe0;

$gear-color: #4A2000;
$super-color: #007ABB;
$ultra-color: #BD0000;

$heart-color: #C00000;
$courage-color: #E36C0A;
$spirit-color: #00B050;
$positive-color: #92D050;
$negative-color: #943634;
$nice-color: #1F497D;
$excellent-color: #4BACC6;
$unbelievable-color: #8064A2;