{%- comment -%}
  Use {%- include contributors/site_contributor_page.html -%}
  to create an array of those slugs that have pages in the tag collection,
  assigned to site_tag_page_slugs, and an array of their urls,
  assigned to site_tag_page_urls.
  
  Subsequent includes of this file have no effect.
{%- endcomment -%}

{%- unless site_contributor_page_slugs -%}

{%- assign site_contributor_page_slugs = "" | split: "X" -%}
{%- for contributor_page_10 in site.contributor -%}
  {%- assign slug_10 = contributor_page_10.url | split: "/" | last -%}
  {%- assign site_contributor_page_slugs = site_contributor_page_slugs | push: slug_10 -%}
{%- endfor -%}

{%- assign site_contributor_page_urls = site.contributor | map: "url" -%}

{%- endunless -%}
